body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.game-card {
    width: 200px; 
    margin: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 15px; /* 调整卡片内边距 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; 
}

.card {
    border: none;
    padding: 0;
}

.card-img-top {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.card-text {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card-text.expanded {
    -webkit-line-clamp: unset;
    overflow: visible;
    text-overflow: unset;
}

/* 按钮样式 */
.btn {
    display: inline-block;
    padding: 8px 16px; 
    margin-top: 10px;
    background: linear-gradient(45deg, #ff6f00, #ff8c00); 
    color: white;
    font-size: 14px;  
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(255, 140, 0, 0.5);
    width: 50%;  
    margin-left: auto;  
    margin-right: auto; 
}

.btn:hover {
    background: linear-gradient(45deg, #ff8c00, #ff6f00); 
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(255, 140, 0, 0.7); 
}

.btn:active {
    transform: scale(1); 
}
